html,
body {
  margin: auto;
  padding: 2em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.pollyform {
  width: 80%;
  background-color: transparent;
  margin: auto;
  margin-top: 50px;
}

.title {
  color: white;
  background-color: mediumseagreen;
  letter-spacing: 1px;
  text-align: center;
  line-height: 2;
  position: relative;
  padding: 21px;
  z-index: 2000;
  border-radius: 14px;
  margin-top: 7px;
  transition: all .2s ease-in;
}

.title-text {
  margin-left: auto;
}

.title:hover {
  background-color: rgb(53, 156, 99);
}

.content {
  border-radius: 4px;
  color: green;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 1000;
  text-align: center;
}

.content-open {
  margin-top: 0px;
  height: 100px;
}

.content-text {
  padding: 15px;
  visibility: hidden;
  overflow: auto;
}

.content-text-open {
  visibility: visible;
  opacity: 1;
  transition: all .1s ease-in;
}

.fa-angle-down {
  font-size: 20px;
  color: rgba(255,255,255, .5);
  transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.fa-rotate-180 {
  color: rgba(255,255,255, 1);
}

.arrow-wrapper {
  position: absolute;
  margin-left: 375px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-color: transparent;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control::placeholder {
  color: white;
}

.form-control:focus {
  border-color: white;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(255, 255, 255, 0.6);
}

.candidate {
  color: white;
  background-color: mediumseagreen;
  letter-spacing: 1px;
  text-align: center;
  line-height: 2;
  position: relative;
  z-index: 2000;
  border-radius: 14px;
  transition: all .2s ease-in;
}